<!DOCTYPE html>
<html>
<head>
	<title>PP WAVE</title>
	<meta charset="utf-8" />

	<meta name="viewport" content="width=device-width, initial-scale=1.0">
  	<script src="js/d3.min.js"></script>
  	<script src="js/jquery.min.js"></script>

	<link rel="stylesheet" href="css/leaflet.css" />
	<link rel="stylesheet" href="css/mystyle.css" />
	<script src="https://cdnjs.cloudflare.com/ajax/libs/queue-async/1.0.7/queue.min.js"></script>
	<script src='https://cdn.firebase.com/js/client/2.2.1/firebase.js'></script>
	<script type="text/javascript">
	  var userip;
	</script>
	<script type="text/javascript" src="https://l2.io/ip.js?var=userip"></script>
	<script src="js/myapp.js"></script>
	<script src="js/control.js"></script>

</head>

<body>
	<svg id = "mycanvas"></svg>

	<script type="text/javascript">
		$(document).ready(function(e){
	      welcome_view();
	    });



	</script>
</body>
</html>
